@import "tailwindcss";

body {
  background-image: url("./assets/white-crumpled-paper-sheet-background-design_213524-61.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}